body {
  background: white;
  font-family: roboto;
}

.board {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: auto;
  background-color: #FFAB46;
  border: 3px solid rgb(255, 142, 7);
  /*margin-left: 45px;*/
  /*margin-right: 45px;*/
  /*margin-top: 25px*/
}

.playerArea1 {
  display: flex;
  flex-direction: column;
  height:400px;
  min-width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: lavender;
  border: 3px solid lavender;
}

.attackButton {

}

.playerArea2 {
  display: flex;
  flex-direction: column;
  height:400px;
  min-width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: lavender;
  border: 3px solid lavender;
}

.card {
  flex-direction: row;
  flex-wrap: wrap;
  height: 95px;
  width: 95px;
  border: 1px solid #108BCD;
  background: #4EBDF8;
  margin: auto;
  /*display: inline-block;*/
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  /*overflow: hidden;*/
}

.playerArea2 .card{
  background: lightgreen;
}

.graveyard {

}

.nameButton {

}

.battleField {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  background: #FFD29C;
  height: 100px;
  width: auto;
  margin: 10px;
  padding: 5px;
  border: 3px solid rgb(255, 142, 7);
  text-align: center;
}

.play {

}

.hand {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  background: #FFD29C;
  height: 100px;
  width: auto;
  margin: 10px;
  padding: 5px;
  border: 3px solid rgb(255, 142, 7);
  text-align: center;
}

.inPlay{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background: #FFD29C;
  height: 100px;
  width: auto;
  margin: 10px;
  padding: 5px;
  border: 3px solid rgb(255, 142, 7);
  text-align: center;
}



.deck {

}
