body {
  background: white;
  font-family: roboto;
  padding-bottom: -10px;
}

.board {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: #801515;
  padding-bottom: 30px;
  padding-top: 20px;
}

.playerArea1 {
  display: flex;
  flex-direction: column;
  height: 400px;
  min-width: 450px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding: 5px;
  background-color: #AA3939;
  border: 1px solid #550000;
  color: white;
}

.playerArea2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  min-width: 450px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding: 5px;
  background-color: #AA3939;
  border: 1px solid #550000;
  color: white;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 95px;
  width: 95px;
  border: 1px solid 139A43;
  /*background: 139A43;*/
  margin: auto;
  /*display: inline-block;*/
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: white;
  /*overflow: hidden;*/
}

.card button {
  color: black;
}


.slot {
  width:25%;
  /*border: 1px solid black;*/
  display: flex;
}


.attackers {
  display:flex;
  flex-wrap:nowrap;
  flex-direction: row;
  margin: 4px;
  padding: 4px;
  height:110px;
  width: 49%;
  background: #D46A6A;
  border: 3px solid #801515;
  text-align: center;
  color: black;
}

.defenders {
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    height:110px;
    width: 50%;
    margin: 4px;
    padding: 4px;
    background: #D46A6A;
    border: 3px solid #801515;
    text-align: center;
    color: black;
}

.battleField {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  background: 801515;
  height: 125px;
  width: auto;
  margin: 4px;
  /*padding-right: 10px;*/
  padding: 4px;
  /*border: 1px solid #139A43;*/
  text-align: center;
}

.play {}

.hand {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  background: #FFAAAA;
  height: 100px;
  width: auto;
  margin: 10px;
  padding: 5px;
  /*border: 3px solid #0B5D1E;*/
  text-align: center;
  color: black;
}

 .defend {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}
 .attack {
  width: 2em;
  height: 2em;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

.inPlay {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background: #FFAAAA;
  height: 100px;
  width: auto;
  margin: 10px;
  padding: 5px;
  /*border: 3px solid #0B5D1E;*/
  text-align: center;
  color: black;
}

.waves-effect:hover {
  background-color: #D46A6A;
}
.waves-effect {
display: inline-block;
}

.playerArea2 .hand .card  {
  background-image: url(http://i.imgur.com/kiwNBA6.jpg) !important;
  background-size: 100%;
  font-size: 0;
}

header {
  height:auto;
  font-family: Niconne;
}

h4 {
  text-indent: 30px;
}

.footer {
  height: auto;
}

.playerArea2 .hand .button {
  visibility: hidden;
}
